body {
    background-color: #7fe0f8;
    color: rgb(7, 4, 4);
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #054ea0fd;
    color: hsl(0, 62%, 88%);
    font-family: "Open Sans", sans-serif;
}